@model ALC.IES.WebRange.Models.ConvencionEditarModel
@{
    ViewBag.Title = "Editar convención";
}

@section head{
    <link href="~/Content/loadingOverlay.css" rel="stylesheet" />
    <link href="~/Content/Pikaday/pikaday.css" rel="stylesheet" />
    <link href="~/Content/handsontable/handsontable.full.min.css" rel="stylesheet" />
    <style>
        body {
            overflow: hidden !important;
        }
    </style>
}

@section header{
    @Html.Partial("header", Model.Header)

}

@section leftmenu{
    @Html.Partial("leftmenu")
}
<div class="loading">Cargando&#8230;</div>
<div id="page-wrapper" class="no-padding">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-header" id="excelH3">Editar el catálogo de la convención <b>@Model.Id</b></h3>
        </div>
        <div class="col-sm-5">
            <div class="btn-group" id="filtroNivel" role="group" aria-label="...">
                <button type="button" class="btn btn-danger btn-nivel active" data-val="-1">Todos</button>
                <button type="button" class="btn btn-danger btn-nivel" data-val="0">Modelos</button>
                <button type="button" class="btn btn-danger btn-nivel" data-val="1">Colores</button>
                <button type="button" class="btn btn-danger btn-nivel" data-val="2">Tallas</button>
            </div>
        </div>
    </div>

    <div id="tablaExcel"></div>
</div>


@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script src="~/Scripts/numeral/numeral.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numbro/1.11.1/numbro.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numbro//min/languages.min.js"></script>
    <script src="~/Scripts/handsontable/handsontable.full.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>
        <script src="~/Scripts/handsontable/handsontable-chosen-editor.js"></script>*@

    <script>
        var convencion = {};
        convencion.Id = '@(Model.Id)';
    </script>
    <script src="~/js/convenciones/editar.js"></script>

}