@model ALC.IES.WebRange.Models.ConvencionEditarModel
@{
    ViewBag.Title = "Editar convención";
}

@section head{
    <link href="~/Content/loadingOverlay.css" rel="stylesheet" />
    <link href="~/Content/handsontable/handsontable.full.min.css" rel="stylesheet" />
}

@section header{
    @Html.Partial("header", Model.Header)

}

@section leftmenu{
    @Html.Partial("leftmenu")
}
<div class="loading">Cargando&#8230;</div>
<div id="page-wrapper">
    <h3 class="page-header">Editar el catàleg de la convenció @Model.Id</h3>
    <div class="row">
        <div class="col-xs-12">
            <div id="tablaExcel"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/handsontable/handsontable.full.min.js"></script>
    <script>
        var convencion = {};
        convencion.Id = '@(Model.Id))';
    </script>
    <script src="~/js/convenciones/editar.js"></script>

}