<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxReceivedMessageSize="2147483647" />                                                 
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ninkasi.intersport.dev/WebServiceJDE.asmx"
          binding="basicHttpBinding" bindingConfiguration="Service1Soap"
          contract="JDEdwardsService.Service1Soap" name="Service1Soap" />
      <endpoint address="http://ninkasi.intersport.dev/WebServiceJDE.asmx"
          binding="customBinding" bindingConfiguration="Service1Soap12"
          contract="JDEdwardsService.Service1Soap" name="Service1Soap12" />
    </client>
  </system.serviceModel>
</configuration>