<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" maxReceivedMessageSize="196608" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Service1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxReceivedMessageSize="196608" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://ninkasi.intersport.dev/WebServiceJDE.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="JDEdwardsService.Service1Soap" name="Service1Soap" />
            <endpoint address="http://ninkasi.intersport.dev/WebServiceJDE.asmx" binding="customBinding" bindingConfiguration="Service1Soap12" contract="JDEdwardsService.Service1Soap" name="Service1Soap12" />-->

          <endpoint address="http://ninkasi.gil.test/WebServiceJDE.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="JDEdwardsService.Service1Soap" name="Service1Soap" />
          <endpoint address="http://ninkasi.gil.test/WebServiceJDE.asmx" binding="customBinding" bindingConfiguration="Service1Soap12" contract="JDEdwardsService.Service1Soap" name="Service1Soap12" />
          
        </client>
    </system.serviceModel>
</configuration>